* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

   
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}
section {
    padding-top: 48px;
    padding-bottom: 48px;
}

 h1 {
    font-size: 2.96rem;
    margin-bottom: 1.5rem;
 }


p {
    color: rgb(104, 84, 84);
    max-width: 640px;
}


.button {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}

.buttonPrimary {
    background-color:black ;
    color: white;
}
.buttonsecondary {
    color: black;
    border: 1px solid black;
}



.container {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
header .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
header {
    padding: 1rem;
    padding-bottom: 1rem;
    border-bottom:1px solid gray ;
}
#logoLink {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

#logoLink,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal
}

nav {
    display: none;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 600px){
    .buttons {
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px){

    #menuButton {
        display: none;
    }
         nav {
            display: block;
         }
         nav ul {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            list-style: none;
         }
         nav a {
            text-decoration: none;
            color: rgb(51, 43, 43);
         }

}

@media only screen and (min-width: 992px){}

@media only screen and (min-width: 1200px){}

    
